# Auto detect text files and perform LF normalization
* text=auto
*.ppl linguist-language=PPL
*.prgm linguist-language=PPL
*.hpprgm linguist-language=PPL
*.hpappprgm linguist-language=PPL
*.prgm+ linguist-language=PPL+
*.ppl+ linguist-language=PPL+
*.sh linguist-ignore
assets/** linguist-ignore
*.prgm linguist-detectable=false
*.hpprgm linguist-detectable=false
*.hpappprgm linguist-detectable=false
*.ppl linguist-detectable=false
*.prgm+ linguist-detectable=false
*.ppl+ linguist-detectable=false
*.sh linguist-detectable=false
*.txt linguist-detectable=false
